.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  margin: 50px 0 0;
}

.u-section-1 .u-line-1 {
  width: 250px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: left center 0px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 58px;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  grid-gap: 25px 25px;
  min-height: 969px;
}

.u-section-1 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(119,170,217,0.7), rgba(119,170,217,0.7)), url("/images/IMG-20210825-WA0008.jpg");
  transition-duration: 1.25s;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(119,170,217,0.7), rgba(119,170,217,0.7)), url("/images/IMG-20211125-WA0000.jpg");
  transition-duration: 1.25s;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(119,170,217,0.7), rgba(119,170,217,0.7)), url("/images/Comp3.jpeg");
  transition-duration: 1.25s;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(119,170,217,0.7), rgba(119,170,217,0.7)), url("/images/WhatsAppImage2022-10-18at2.26.35PM6.jpeg");
  transition-duration: 1.25s;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 400;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 50px auto 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 106px;
    margin-right: 151px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -58px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -55px;
    margin-bottom: 28px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 1024px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -88px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -943px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1176px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -154px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1095px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 1324px;
    margin-right: 95px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -22px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1243px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}